@model ProductViewModel
@{
    ViewBag.Title= "Sipariş Detay";
}
<div class="row">
    <div class="col-md-12">
    <div class="card card-primary">
    <!-- <div class="card-header">
      <h3 class="card-title">@ViewBag.Title</h3>
      </div> -->
      <form>
        <div class="card-body">
            <div class="form-group">
                <label>Sipariş Veren Müşteri</label>
                <input class="form-control" disabled asp-for="@Model.Order.CustomerName" />
            </div>
            <div class="form-group">
              <label>Sipariş Alan Çalışan</label>
              <input class="form-control" disabled asp-for="@Model.Order.EmployeeName" />
            </div>
            <div class="form-group">
              <label>Sipariş Taşıyıcı Firma</label>
              <input class="form-control" disabled asp-for="@Model.Order.ShipperName" />
            </div>
            <div class="form-group">
              <label>Sipariş Tarihi</label>
              <input class="form-control" disabled asp-for="@Model.Order.OrderDate" />
            </div>
            <div class="form-group">
              <label>Gönderilmesi Gereken Tarih</label>
              <input class="form-control" disabled asp-for="@Model.Order.RequiredDate" />
            </div>
            <div class="form-group">
              <label>Sevk Tarihi</label>
              <input class="form-control" disabled asp-for="@Model.Order.ShippedDate" />
            </div>
        </div>
      </form>
    </div>
    </div>
</div>