@model ProductViewModel
@{
    ViewBag.Title = "Ürün Ekle";
}
<div class="row">
    <div class="col-md-12">
    <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Ürün Ekleme Formu</h3>
      </div>
      <form asp-controller="Product" asp-action="Create" method="post" id="create-product">
        <div class="card-body">
          <div class="form-group">
            <label>Ürün Adı</label>
            <input asp-for="@Model.Product.ProductName" class="form-control" />
        </div>
      <div class="form-group">
      <label>Kategoriler</label>
      <select asp-for="@Model.CategoryID" asp-items="@Model.Categories" class="form-control">
      </select>
      </div>
      <div class="form-group">
        <label>Tedarikçiler</label>
        <select runat="server" asp-for="@Model.SupplierID" asp-items="@Model.Suppliers" class="form-control">
        </select>
        </div>
        <div class="form-group">
            <label>Birim Miktarı</label>
            <input asp-for="@Model.Product.QuantityPerUnit" class="form-control" />
        </div>
        <div class="form-group">
          <label>Fiyat</label>
          <input asp-for="@Model.Product.UnitPrice" class="form-control" />
      </div>
      <div class="form-group">
        <label>Adet</label>
        <input asp-for="@Model.Product.UnitsInStock" class="form-control" />
      </div>
      <div class="form-group">
        <label>Sipariş Miktarı</label>
        <input asp-for="@Model.Product.UnitsOnOrder" class="form-control" />
      </div>
      <div class="form-group">
        <label>Yeni Sipariş</label>
        <input asp-for="@Model.Product.ReorderLevel" class="form-control" />
      </div>
      <div class="form-group">
        <label>Aktif Mi ?</label>
        <br />
        <input type="checkbox" asp-for="@Model.Product.AktifMi" data-bootstrap-switch="" data-off-color="danger" data-on-color="success">
      </div>
    </div>
        </form>
      </div>
  </div>
  </div>
      <script>
        $(document).ready(function(){
          $('#create-product').submit(function(e) {
          var form_data =$(this).serialize();
          $('#overlay-process').fadeIn();
          $('#submit-button').prop('disabled', true);
          $.ajax ({
            type: 'POST',
            url: '@Url.Action("Create","Product")',
            data: form_data
          }).done(function(result){
            if (result.Success == true) {
                $('#modal-overlay .modal-content').addClass("bg-success");
                ShowModal('Başarılı', result.Message, function (e) {
                  $('#modal-product').modal("hide");
                  $('#modal-overlay .modal-content').removeClass("bg-success");
                  $("#data-table-product").DataTable().ajax.reload(null,false);
                })
            }
            else {
              $('#modal-overlay .modal-content').addClass("bg-danger");
              ShowModal('Hata', result.Messages, function(e){
                $('#modal-overlay .modal-content').removeClass("bg-danger");
              });
            }
          }).fail(function(jqXHR, textStatus){
            ShowModal('Error!', 'Hata oluştu.' );
            console.log('Request failed:' + textStatus);
          }).always(function(){
            $('#overlay-process').fadeOut();
            $('#submit-button').prop('disabled', false);
          })
          e.preventDefault();
        });

        $('#submit-button').on('click', function() {
          $('#create-product').submit();
        });

        $("input[data-bootstrap-switch]").each(function(){
              $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });
      });
      </script>
  