@model ProductViewModel
@{
  ViewBag.Title = "Ürün Düzenle";
}
<div class="row">
  <div class="col-md-12">
  <div class="card card-primary">
  <!-- <div class="card-header">
    <h3 class="card-title">@ViewBag.Title</h3>
    </div> -->
    <form method="post" id="form-product">
      <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Product.ProductID" class="form-control" />
        <div class="form-group">
          <label>Ürün Adı</label>
          <input asp-for="@Model.Product.ProductName" class="form-control" />
      </div>
    <div class="form-group">
    <label>Kategoriler</label>
    <select asp-for="@Model.CategoryID" asp-items="@Model.Categories" class="form-control">
    </select>
    </div>
    <div class="form-group">
      <label >Tedarikçiler</label>
      <select runat="server" asp-for="@Model.SupplierID" asp-items="@Model.Suppliers" class="form-control">
      </select>
      </div>
      <div class="form-group">
          <label>Birim Miktarı</label>
          <input asp-for="@Model.Product.QuantityPerUnit" class="form-control" />
      </div>
      <div class="form-group">
        <label>Fiyat</label>
        <input asp-for="@Model.Product.UnitPrice" class="form-control" />
    </div>
    <div class="form-group">
      <label>Adet</label>
      <input asp-for="@Model.Product.UnitsInStock" class="form-control" />
    </div>
    <div class="form-group">
      <label>Sipariş Miktarı</label>
      <input asp-for="@Model.Product.UnitsOnOrder" class="form-control" />
    </div>
    <div class="form-group">
      <label>Yeni Sipariş</label>
      <input asp-for="@Model.Product.ReorderLevel" class="form-control" />
    </div>
    <div class="form-group">
      <label>Aktif Mi ?</label>
      <br />
       @if(Model.Product.Discontinued == "0") {
        <input type="checkbox" asp-for="@Model.Product.AktifMi" data-bootstrap-switch="" data-off-color="danger" data-on-color="success">
       }
       else {
        <input type="checkbox" asp-for="@Model.Product.AktifMi" checked data-bootstrap-switch="" data-off-color="danger" data-on-color="success">
       }
    </div>
      </div>
      </form>
    </div>
</div>
</div>
  <script>
    $(document).ready(function(){
      
      $("input[data-bootstrap-switch]").each(function(){
              $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

    $('#form-product').submit(function(event){
       var form_data =$(this).serialize();
       $('#overlay-process').fadeIn();
       $('#submit-button').prop('disabled', true)
       $.ajax({
          type: 'POST',
          url: '@Url.Action("Edit","Product")',
          data: form_data
       }).done(function(result){
        if (result.Success == true) {
            $('#modal-overlay .modal-content').addClass("bg-success");
            ShowModal('Başarılı', result.Message, function () {
                  $('#modal-product').modal("hide");
                  $("#data-table-product").DataTable().ajax.reload(null,false);
                  $('#modal-overlay .modal-content').removeClass("bg-success");
            });
        }
        else {
          $('#modal-overlay .modal-content').addClass("bg-danger");
              ShowModal('Hata', result.Messages, function(){
                $('#modal-overlay .modal-content').removeClass("bg-danger");
              });
        }
       }).always(function(){
        $('#overlay-process').fadeOut();
        $('#submit-button').prop('disabled', false);
       });
  
       event.preventDefault();
      });
      
      $('#submit-button').on('click', function(e){
        $('#form-product').submit();
        e.preventDefault();
      });

    });
    </script>
