@model ProductViewModel
@{
  ViewBag.Title = "Ürün Düzenle";
 }
<div class="row">
  <div class="col-md-12">
  <div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <form method="post" id="form-product">
      <div class="card-body">
        <input type="hidden" asp-for="@Model.Product.ProductID" class="form-control" />
        <div class="form-group">
          <label>Product Name</label>
          <input asp-for="@Model.Product.ProductName" class="form-control" />
      </div>
    <div class="form-group">
    <label>Kategoriler</label>
    <select asp-for="@Model.CategoryID" asp-items="@Model.Categories" class="form-control">
    </select>
    </div>
    <div class="form-group">
      <label >Tedarikçiler</label>
      <select runat="server" asp-for="@Model.SupplierID" asp-items="@Model.Suppliers" class="form-control">
      </select>
      </div>
      <div class="form-group">
          <label>Birim Miktarı</label>
          <input asp-for="@Model.Product.QuantityPerUnit" class="form-control" />
      </div>
      <div class="form-group">
        <label>Fiyat</label>
        <input asp-for="@Model.Product.UnitPrice" class="form-control" />
    </div>
    <div class="form-group">
      <label>Adet</label>
      <input asp-for="@Model.Product.UnitsInStock" class="form-control" />
    </div>
    <div class="form-group">
      <label>Sipariş Miktarı</label>
      <input asp-for="@Model.Product.UnitsOnOrder" class="form-control" />
    </div>
    <div class="form-group">
      <label>Yeni Sipariş</label>
      <input asp-for="@Model.Product.ReorderLevel" class="form-control" />
    </div>
    <div class="form-group">
      <label>Aktif Mi ?</label>
      <br />
       @if(Model.Product.Discontinued == "0") {
        <input type="checkbox" asp-for="@Model.Product.AktifMi" data-bootstrap-switch="" data-off-color="danger" data-on-color="success">
       }
       else {
        <input type="checkbox" asp-for="@Model.Product.AktifMi" checked data-bootstrap-switch="" data-off-color="danger" data-on-color="success">
       }
    </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Devam</button>
      </div>
      </form>
    </div>
</div>
</div>
<div class="modal fade" id="modal-danger" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content bg-danger">
  <div class="modal-body">
  <!--Dinamik içerik-->
  </div>
  <div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-outline-light" id="modal-hide">Tamam</button>
  </div>
  </div>
  
  </div>
  
  </div>
  <script>
    
  $('#form-product').submit(function(event){
     var form_data =$(this).serialize();
     $('#overlay-process').fadeIn();
     $.ajax({
        type: 'POST',
        url: '@Url.Action("Edit","Product")',
        data: form_data
     }).done(function(result){
      if (result.Success == true) {
            var url = '@Url.Action("Index", "Product")';
            window.location.href = url;
      }
      else {
        
        result.Messages ="<ul><li>"+ result.Messages.join("</li><li>") + "</li></ul>";
        $("#modal-danger .modal-body").html(result.Messages);
        $("#modal-danger").modal("show");
      }
     });
     event.preventDefault();
    });
    
    $('#modal-hide').on('click', function(){
      $('#modal-danger').modal('hide');
    });

    $('#submit-modal').on('click', function(){
      $('#form-product').submit();
    });

    $("input[data-bootstrap-switch]").each(function(){
          $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });
    
  </script>
