@model ProductViewModel
@{
  ViewBag.Title = "Ürün Listesi";
}

@section Styles{
<link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">@ViewBag.Title</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
          <li class="breadcrumb-item active">Index</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Filtre</h3>
      </div>
      <form asp-controller="Product" asp-action="Index" method="post">
      <div class="card-body">
        <div class="form-group">
        <label for="CategoryID">Kategori</label>
        <select asp-for="@Model.CategoryID" asp-items="@Model.Categories" class="form-control">
          <option value="0">Seçiniz</option>
        </select>
        </div>
        <div class="form-group">
          <label for="SupplierID">Tedarikçi</label>
          <select asp-for="@Model.SupplierID" asp-items="@Model.Suppliers" class="form-control">
            <option value="0">Seçiniz</option>
          </select>
          </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Getir</button>
      </div>
    </form>
      </div>
</div>
</div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="dataTables_wrapper dt-bootstrap4">
            <div class="row"></div>
            <div class="row">
              <div class="col-sm-12">
                <table id="data-table-product" class="table table-bordered table-striped dataTable dtr-inline">
                  <!-- <a asp-action="Create" asp-controller="Product" class="btn btn-default bg-success">
                    <i class="fas fa-plus"></i> Yeni Ürün Ekle
                    </a> -->
                  <thead>
                    <tr>
                      <th style="width: 100px;">#</th>
                      <th>Ürün Adı</th>
                      <th>Tedarikçi Firma</th>
                      <th>Kategori Adı</th>
                      <th>Birim Miktarı</th>
                      <th>Fiyatı</th>
                      <th>Adeti</th>
                      <th>Sipariş Miktarı</th>
                      <th>Yeni Sipariş</th>
                      <th>Aktif Mi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--DataTable ServerSide-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-product" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
    <div class="overlay">
    <i class="fas fa-2x fa-sync fa-spin"></i>
    </div>
        <div class="modal-header">
          <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
        </div>
    <div class="modal-body">
    <!--Dinamik oluşturalacak-->
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-primary" id="submit-button">Kaydet</button>
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
    </div>
      </div>
    </div>
</div>

@section Scripts{
<script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/jszip/jszip.min.js"></script>
<script src="~/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

    var categoryID = $('#CategoryID').val();
    var supplierID = $('#SupplierID').val();
    
    var modal = $('#modal-product');
    modal.on("hidden.bs.modal", function(e){
        //Modal-product nesnesi mi kapatıldı kontrol ediyoruz
        if ($(e.target).is(modal)){
          $('#submit-button').prop('disabled', false);
          $('#modal-product .modal-body').html('');
          $('#modal-product .modal-title').html('');
        }
        e.preventDefault();
      });

    var table = $('#data-table-product').DataTable({
      destroy: true,
      serverSide: true,
      processing: true,
      language: {
        processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>'
      },

      ajax: 
      { 
        url: '@Url.Action("PageData")', 
        type: 'POST',
        data: {categoryID: categoryID, supplierID : supplierID}
      },
      pageLength: 10,
      lengthMenu: [[10, 30, 50, 100, -1], [10, 30, 50, 100, "Tümü"]],
      order: [[1, 'asc']],
      searchDelay: 1000,
      responsive: true,
      dom: "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    "<'row'<'col-sm-12'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                      text: '<i class="fas fa-plus" title="Ekle"></i>&nbsp; Yeni Ürün Ekle',
                      attr: {
                        id: 'create-button',
                      }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fa fa-file-excel" title="Excel"></i>&nbsp;Excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy" title="Kopyala"></i>&nbsp;Kopyala',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="fa fa-columns" title="Görünür Kolonlar"></i>&nbsp;Sütun Seçici',
                    }
                ],
      columns: [
        { data: "productID", name: "ProductID", sortable: false, searchable: false, render: function(data) {
          var content = '';
          content += '<a class="btn btn-primary btn-sm btn-flat" id="edit-button" title="Düzenle" data-target="/Product/Edit/'+data+'"><i class="fa fa-edit"></i></a>';
          content +='<a class="btn btn-danger btn-sm btn-flat" id="delete-button" title="Sil" data-href="/Product/Delete/' + data + '"><i class="fa fa-trash"></i></a>';
          content += '<a class="btn btn-warning btn-sm btn-flat" id="detail-button" title="Görüntüle" data-target="/Product/Detail/' + data + '"><i class="fa fa-eye"></i></a>'
          return content;
        } },
        { data: "productName", name: "ProductName", sortable: true, searchable: true },
        { data: "companyName", name: "CompanyName", sortable: false, searchable: false },
        { data: "categoryName", name: "CategoryName", sortable: false, searchable: false },
        { data: "quantityPerUnit", name: "QuantityPerUnit", sortable: false, searchable: false },
        { data: "unitPrice", name: "UnitPrice",sortable: true, searchable: false, render: $.fn.dataTable.render.number('.', ',', 2, '') },
        { data: "unitsInStock", name: "UnitsInStock",sortable: true, searchable: false },
        { data: "unitsOnOrder", name: "UnitsOnOrder", sortable: false, searchable: false },
        { data: "reorderLevel", name: "ReorderLevel", sortable: false, searchable: false },
        {
           data: "discontinued", name: "Discontinued", sortable: false, searchable: false, render: function (data) {
             if (data != null && data == 1) {
               return '<input type="checkbox"  checked disabled/>'
             }
             else {
               return '<input type="checkbox" disabled/>'
             }
           }
         }
      ],
      
      // "initComplete": function (settings, json) {
      //   var input = $('.dataTables_filter input').unbind(),
      //     self = this.api(),
      //     $searchButton = $('<button>').html('<i class="fa fa-search"></i>').addClass('btn btn-default btn-sm btn-flat').click(function () {
      //       self.search(input.val()).draw();
      //     }),
      //     $clearButton = $('<button>').html('<i class="fa fa-times"></i>').addClass('btn btn-default btn-sm btn-flat').click(function () {
      //       input.val('');
      //       $searchButton.click();
      //     });

        
      //   $(".dataTables_filter input")
      //     .unbind()
      //     .bind("input keyup", function (e) {
      //       if (e.keyCode == 13) {
      //         self.search(this.value).draw();
      //       }
      //       return;
      //     });
      // },
    });
    
      $("#create-button").attr("data-target", "Product/Create");
      
      $("#create-button").on("click", function(e) {
      $(".overlay").fadeIn();
                        var that = $(this);
                        $.ajax({
                          type: "GET",
                          url: that.data("target")
                        }).done(function(data) {
                          modal.find(".modal-body").html(data);
                          modal.find(".modal-title").html("Ürün Ekle");
                          modal.modal('show');
                        }).fail(function(jqXHR, textStatus) {
                          ShowModal("Hata!", "Form yüklenemedi");
                          console.log("Request failed: " + textStatus);
                        }).always(function() {
                          $(".overlay").fadeOut();
                        })
                  e.preventDefault();
        });
     
    function EditAction(e) {
      var that = $(this);
      $(".overlay").fadeIn();
                $.ajax ({
                  type: 'GET',
                  url: that.data('target')
                }).done(function(data){
                  modal.find('.modal-body').html(data);
                  modal.find('.modal-title').html("Ürün Düzenle");
                  modal.modal('show');
                }).fail(function(jqXHR, textStatus) {
                  ShowModal("Hata!", "Form yüklenemedi");
                  console.log("Request failed: " + textStatus);
                }).always(function() {
                  $(".overlay").fadeOut();
                })
                e.preventDefault();
              }
    

    $('#data-table-product tbody').on('click', 'td #edit-button', EditAction);

    function DetailAction(e) {
      var that = $(this);
      $(".overlay").fadeIn();
                $.ajax ({
                  type: 'GET',
                  url: that.data('target')
                }).done(function(data){
                  modal.find('.modal-body').html(data);
                  modal.find('.modal-title').html("Ürün Detay");
                  $('#submit-button').prop('disabled', true);
                  modal.modal('show');
                }).fail(function(jqXHR, textStatus) {
                  ShowModal("Hata!", "Form yüklenemedi");
                  console.log("Request failed: " + textStatus);
                }).always(function() {
                  $(".overlay").fadeOut();
                })
                e.preventDefault();
              }
    
    $('#data-table-product tbody').on('click', 'td #detail-button', DetailAction);

  function DeleteAction(e) {
          if (confirm('Silmek istediğinizen emin misiniz ?') == true) {
              $('#overlay-process').fadeIn();
              var that = $(this);
              $.ajax({
              type: 'POST',
              url: that.data('href'),
          }).done(function (result) {
              if (result.Success == true) {
                    $("#modal-overlay .modal-content").addClass("bg-success");
                    ShowModal('Başarılı', result.Message, function (e) {
                    $("#data-table-product").DataTable().ajax.reload(null,false);
                    $("#modal-overlay .modal-content").removeClass("bg-success");
                  });
              } else {
                toastr.error(result.Message);
              }
          }).fail(function (jqXHR, textStatus) {
              ShowModal('Hata', 'Hata oluştu.');
              console.log("Request failed: " + textStatus);
          }).always(function () {
              $('#overlay-process').fadeOut();
          });
          e.preventDefault();
          }
      }
      $('#data-table-product tbody').on('click', 'td #delete-button', DeleteAction);
  });

</script>
}