@model ProductViewModel
@{
  ViewBag.Title = "Ürün Detay";
}

<div class="row">
  <div class="col-md-12">
  <div class="card card-primary">
  <!-- <div class="card-header">
    <h3 class="card-title">@ViewBag.Title</h3>
    </div> -->
    <form>
      <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
          <label>Ürün Adı</label>
          <input asp-for="@Model.Product.product_name" class="form-control" disabled />
      </div>
    <!-- <div class="form-group">
    <label>Kategori</label>
    <input asp-for="@Model.Product.category_name"  class="form-control" disabled />
    </div> -->
    <div class="form-group">
      <label >Tedarikçi Firma</label>
      <input asp-for="@Model.Product.company_name" class="form-control" disabled />
      </div>
      <div class="form-group">
          <label>Birim Miktarı</label>
          <input asp-for="@Model.Product.quantity_per_unit" class="form-control" disabled />
      </div>
      <div class="form-group">
        <label>Fiyat</label>
        <input asp-for="@Model.Product.unit_price" class="form-control" disabled/>
    </div>
    <div class="form-group">
      <label>Adet</label>
      <input asp-for="@Model.Product.units_in_stock" class="form-control" disabled/>
    </div>
    <div class="form-group">
      <label>Sipariş Miktarı</label>
      <input asp-for="@Model.Product.units_on_order" class="form-control" disabled/>
    </div>
    <div class="form-group">
      <label>Yeni Sipariş</label>
      <input asp-for="@Model.Product.reorder_level" class="form-control" disabled/>
    </div>
    <div class="form-group">
      <div class="icheck-success d-inline">
      @if(Model.Product.discontinued == 0){
        <input type="checkbox" asp-for="@Model.Product.AktifMi" disabled>
      }
      else {
        <input type="checkbox" asp-for="@Model.Product.AktifMi" disabled checked>
      }
      <label>
      Aktif Mi ?
      </label>
      </div>
      </div>
      <br/>
      <div class="form-group">
        <div class="card">
          <div class="card-header">
            <h3>Siparişler</h3>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped dataTable dtr-inline" id="orders-table" style="width:100%;">
              <thead>
                <tr>
                  <th style="width: 10px;">#</th>
                  <th>Sipariş Numarası</th>
                  <th>Fiyat</th>
                  <th>Sipariş Miktarı</th>
                  <th>İndirim</th>
                </tr>
              </thead>
              <tbody>
                <!--Server Side-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
    </div>
  </form>
      </div>
    </div>
</div>
<div class="modal fade" id="modal-order" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="overlay">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
              </div>
            <div class="modal-body">
                <!--Dinamik oluşturalacak-->
            </div>
        </div>
    </div>
</div>
  <script>
    $(document).ready(function(){

      var productID = '@ViewBag.ProductID';
      var modal = $('#modal-order');
      var table = $('#orders-table').DataTable({
        destroy: true,
        serverSide: true,
        processing: true,
        language: {
          processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>'
        },

        ajax: 
        { 
          url: '@Url.Action("GetDataTableOrderDetail")', 
          type: 'POST',
          data: function(data)
                  {
                    data.id = productID;
                  }
        },
        pageLength: 5,
        lengthMenu: [[5, 10, 20, 30, -1], [5, 10, 20, 30, "Tümü"]],
        order: [[1, 'asc']],
        searchDelay: 350,
        responsive: true,
        columns: [
          { data: "order_id", name: "order_id", sortable: false, searchable: false, render: function(data) {
            var content = '';
            content += '<a class="btn btn-primary btn-sm btn-flat" id="button-order-detail" title="Detay" data-target="/Product/_OrderDetail/'+data+'"><i class="fa fa-bars"></i></a>';
            return content;
          } },
          { data: "order_id", name: "order_id", sortable: true, searchable: true },
          { data: "unit_price", name: "unit_price",sortable: true, searchable: false, render: $.fn.dataTable.render.number('.', ',', 2, '') },
          { data: "quantity", name: "quantity",sortable: true, searchable: false },
          { data: "discount", name: "discount", sortable: false, searchable: false, render: function(data){
            return (data * 100).toFixed(2)+'%';
          }}
        ],
      });
      
      function OrderDetailAction(e){
          $(".overlay").fadeIn();
          var that = $(this);
          $.ajax({
            type: 'GET',
            url: that.data('target')
          }).done(function(data){
            modal.find(".modal-body").html(data);
            modal.find(".modal-title").html("Sipariş Detay");
            modal.modal('show');
          }).fail(function(jqXHR, textStatus) {
                  ShowModal("Hata!", "Form yüklenemedi");
                  console.log("Request failed: " + textStatus);
          }).always(function(){
                $(".overlay").fadeOut();
          });
          e.preventDefault();
      }
      $('#orders-table tbody').on('click', 'td #button-order-detail', OrderDetailAction);
    });
</script>
